.ant-layout {
  background: transparent !important;
  height: 100%;
}

.site-layout {
  background: transparent;
  padding: 0 50px;
  margin-top: 64px;

  .site-layout-background {
    padding: 24px 0;
    height: calc(100% - 48px);
  }
}
